.conatiner-dashboard {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 89vh;
    padding-top: 2%;
    overflow-x: hidden;
}

.content { 
    width: 90vw; 
}

.contant > Button {
    background-color: orange;
}

.found-count {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}